
body {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	}

table {
	font-family: arial, sans-serif;
	width: 50%;
	border-collapse: collapse;
}

td, th {
	text-align: left;
	padding: 10px;
}

th:nth-child(even), td:nth-child(even) {
	background-color: #D6EEEE;
}

th {
	text-align: left;
}

tr {
	border-bottom: 1px solid white;
}

tr:hover {
	background-color: #D6EEEE;
}

